<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="http://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css.font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div v-if="page === 'lessons'" class="container">
            <div class="header">
                <div class="title">
                    All Lessons
                </div>
                <div class="sort">
                    <select v-model="sortType">
                        <option value="">
                            Sort Lessons
                        </option>
                        <option value="subject">
                            Subject
                        </option>
                        <option value="location">
                            Location
                        </option>
                        <option value="price">
                            Price
                        </option>
                        <option value="avail">
                            Availability
                        </option>
                    </select>
                    <select v-model="sortOrder">
                        <option value="asc">
                            Ascending
                        </option>
                        <option value="desc">
                            Descending
                        </option>
                    </select>
                    <button v-on:click="page = 'cart'" >
                        Shopping Cart
                    </button>
                </div>
            </div>
            <hr>
            <div class="lessons-container">
                <div v-for="lesson in lessons" :key="lesson.subject" class="cart-card">
                    <div class="inner">
                        <div class="text-section">
                            <span>
                                <b>Subject:</b>
                                <span>
                                    {{ lesson.subject }}
                                </span>
                            </span>
                            <span>
                                <b>Location:</b>
                                <span>
                                    {{ lesson.location }}
                                </span>
                            </span>
                            <span>
                                <b>Price:</b>
                                <span>
                                    {{ lesson.price }}
                                </span>
                            </span>
                            <span>
                                <b>Spaces:</b>
                                <span>
                                    {{ lesson.spaces }}
                                </span>
                            </span>
                        </div>
                        <div class="image-section">
                            <img :src="lesson.image">
                        </div>
                    </div>
                    <button v-show="lesson.spaces > 0" v-on:click="addToCart(lesson)">
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
</body>
</html>